body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  font-size: x-large;
  color: white
}

i {
  color: white;
}

.title {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.btn {
  background-color: rgb(49, 49, 167);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
}

.btn:hover {
  background-color: rgba(27, 27, 209, .5)
}

#board-size {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

footer {
  margin-top: 50px;
  font-size: 0.8em;
  text-align: center;
}

#color-palette {
  display: table-row;
}

.lineSquare {
  display: table-row;
}

div .color {
  display: inline-block;
  border: 1px solid black;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 25%;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.pixel {
  display: table-cell;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}


#pixel-board {
  display: inline-block;
}

@media (max-width: 768px) {
  .pixel {
    width: 30px;
    height: 30px;
  }

  div .color {
    width: 30px;
    height: 30px;
  }

  h1 {
    font-size: 2.5rem;
  }
}
